.question {
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;
  &.light{
    background: #fefefe;
  }
  &.dark{
      background:#171923;
      color: #f8f8f8;
  }

  & + .question {
    margin-top: 8px;
  }

  &.highlighted {

    border: 2px solid #835afd;

    &.light{
      background: #f4f0ff;
      color:#29292e
      }
      &.dark{
      background: #17171f;
       color:#f8f8f8
      }

    footer .user-info span {
      color: #29292e;
      &.light{

        color:#29292e
        }
        &.dark{

         color:#b1afaf
        }
    }
  }

  &.answered {

    &.light{
      background: #dbdcdd;
      color:#29292e
      }
      &.dark{
      background: #404046;
       color:#f8f8f8
      }
  }

  p {
    .light{
      color:#29292e
      }
      .dark{
       color:#f8f8f8
      }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: -5px;
        color: #737380;
        font-size: 14px;

      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;


      @media (max-width: 768px) {
        width: 20px;
        display: flex;
      }

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;
        width: 40px;
        p{

          font-size: 1.6rem;
        }

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}
